@media (max-width: 600px) 
{
  .styleword1 {
    font-size: 20px;
   
  }
  .styleword1:hover {
    font-size: 25px;
  }
  
  .styleword2 {
    font-size: 30px;
    
  }
  .styleword2:hover {
    font-size: 35px;
  }
  
  .styleword3 {
    font-size: 14px;
  
  }
  .styleword3:hover {
    font-size: 20px;
  }
  
  .styleword4 {
    font-size: 50px;
   
  }
  .styleword4:hover {
    font-size: 55px;
  }
  
  .styleword5 {
    font-size: 80px;
  
  }
  .styleword5:hover {
    font-size: 85px;
  }
  
  .styleword6 {
    font-size: 40px;
   
  }
  .styleword6:hover {
    font-size: 45px;
  }
  
}